* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: PowderBlue;
}

h1 {  
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 32px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.big-button {
  background-color: #ccc;
  border: 1px solid black;
  color: black;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 125px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius:  0px; 
  }

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  height: 13vw;
  width: 13vw;
  font-size: 170px; 
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.scoreboard {
  width: 39vw;
  padding: 10px;
  background-color: black; 
  color: white;
}

.game-status {
  width: 39vw;
  padding: 10px;
  background-color: black; 
  color: white;
  margin-bottom: 15px;
}

.game-content {
  display: flex;
  flex-direction: row; /* Stack items horizontally */
}

.game-info {
  margin-left: 20px;
}

.game-moves {
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

.move-text {
  font-size: 14px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.move-button {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.moves-buttons-content {
  margin-left: 10px;
}

.winning-square {
  background-color: rgb(223, 227, 227); /* Change the background color to indicate winning squares */
}

.latest-move {
  border: 2px solid black; /* Change the background color to indicate latest square played */
}

.x-square {
  color: red; 
}

.o-square {
  color: blue; 
}

.time-machine {
  display: flex;
  flex-direction: row; /* Stack items horizontally */
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgb(38, 224, 38);
}

input:checked + .slider:before {
  transform: translateX(21px);
}

.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}


/* Media query for mobile devices */
@media (max-width: 768px) {
  .game-content {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }
  
  .game-info {
    margin-left: 0px;
  }

  .square {
    height: 105px;
    width: 105px;
    font-size: 90px;
  }
  
  .big-button {
    width: 125;
  }

  .h1 {
    margin-top: 0;
    font-size: 24px;
  }

  .scoreboard {
    width: 312px;
    padding: 10px;
    background-color: black; 
    color: white;
  }
  
  .game-status {
    width: 312px;
    padding: 10px;
    background-color: black; 
    color: white;
    margin-bottom: 15px;
  }
}
