* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: PowderBlue;
}

h1 {
  margin-top: 0;
  font-size: 32px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.big-button {
  background-color: blue;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 0px; 
  }

ol {
  list-style: none; /* Remove default numbering */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

ol li {
  margin-bottom: 5px; /* Add some spacing between moves */
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  /* height: 200px;
  width: 200px;
  font-size: 170px;  */
  height: 90px;
  width: 90px;
  font-size: 85px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row; 
}

.game-content {
  display: flex;
  flex-direction: row; /* Stack items horizontally */
}

.game-board {
}

.game-info {
  margin-left: 20px;
}

.game-control {
}

.game-moves {
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

.move-text {
  font-size: 14px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.move-button {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.moves-buttons-content {
  margin-left: 10px;
}

.winning-square {
  background-color: rgb(223, 227, 227); /* Change the background color to indicate winning squares */
}

.latest-square {
  border: 5px solid black; /* Change the background color to indicate latest square played */
}

.x-square {
  color: red; 
}

.o-square {
  color: blue; 
}

.scoreboard {
  padding: 10px; 
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .game-content {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }
  
  .game-info {
    margin-left: 0px;
  }

  .square {
    height: 90px;
    width: 90px;
    font-size: 85px;
  }
  .h1 {
    margin-top: 0;
    font-size: 24px;
  }
}
