* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: PowderBlue;
}

h1 {
  margin-top: 0;
  font-size: 32px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 85px;
  font-weight: bold;
  line-height: 34px;
  height: 90px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 90px;
  color: blue;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game-content {
  display: flex;
  flex-direction: row; /* Stack items vertically */
}

.winning-square {
  background-color: rgb(223, 227, 227); /* Change the background color to indicate winning squares */
  border: 1px solid black;
}

.x-square {
  color: red; 
}

.o-square {
  color: blue; 
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .game-content {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }
  .h1 {
    margin-top: 0;
    font-size: 24px;
  }
}
